.card-works__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.card-works__item {
    display: block;
    margin: 0 auto;
    @media screen and (max-width:767px){
    &:not(:last-child){
        margin-bottom: 40px;
    }
    }

    @media screen and (min-width:480px) {
        width: 450px;
    }

    @media screen and (min-width:768px){
        width: calc(( 100% - 15px * 4) / 2);
        margin: 15px;
    }

    @media screen and (min-width:1200px) {
        width: calc((100% - 30px * 3) / 3);
            margin: 15px;
    }

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  
}

.card-works__thumb {
    position: relative;
    overflow: hidden;
}

.card-works__img {
    @extend %img;
}

.card-works__text--hidden {
    position: absolute;

    top: 0;
    left: 0;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
    height: 100%;
    // width: 100%;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);

    overflow: hidden;
    transition: transform $time-delay $timing-function;
    .card-works__item:hover &{
    transform: translateY(0);
    }
}


.card-works__content {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-top: 20px;

    background: $primary-bg-color;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.card-works__title {
    margin-bottom: 4px;
    margin-top: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-works__descr {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.87;
    color: $descr-color;
}