.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $dark-background-color;
}

.footer__container {
    @extend %container;

    &:not(::last-child) {
            display: flex;
        }
   
    @media screen and (min-width: 1200px) {
            display: flex;
        }
   
}

.footer-left-middle__wrapper{
   @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: nowrap;
   }
   @media screen and (min-width: 1200px) {
       
   }
}


.footer-left {
    width: 230px;

    @media screen and (max-width: 1200px) {
    margin: 0 auto;
    margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
            margin-right: 94px;
    }
        
}

.footer-left__list {
    @extend %list;
    padding: 0;
    margin: 0;
}

.footer-left__item {
    font-size: 14px;
    line-height: 1.71;
    color: $primary-bg-color;
    font-family: "Roboto";
    font-style: normal;
    
    @media screen and (max-width: 1200px) {
    text-align: center;
        }

    &:not(:last-child) {
    margin-bottom: 12px;
}
}

.footer-left__info {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-left__address {
    color: $primary-bg-color;
}

// MIDDLE

.footer-middle {
    


    @media screen and (max-width: 1200px) {
            margin: 0 auto;
            margin-bottom: 60px;
        }

    @media screen and (min-width: 1200px) {
            margin-right: 93px;
         }
}

.footer__title {
    margin: 0;
    margin-bottom: 20px;

        text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $primary-bg-color;
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer-middle__list {
    @extend %list;
    display: flex;
    justify-content: center;
   
}

.footer-middle__item:not(:last-child) {
    margin-right: 10px;
}

.footer-middle__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    cursor: pointer;
    transition: background-color $time-delay $timing-function;

    &:hover,
    &:focus{
        background-color: $accent-color;
        }
    
}

.footer-middle__icon {
    width: 20px;
    height: 20px;
    fill: $primary-bg-color;

    display: block;
}
