.logo {
    color: $main-text-color;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(24px / 28px);
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (min-width:1200px) {
        
        padding-top: 15px ;
        padding-bottom: 15px;
        font-size: 26px;
        line-height: calc(31px / 26px);
    }

    &__accent {
        color: $accent-color;
    }
}

.footer__logo {
    display: block;
    margin-bottom: 28px;
    padding: 0;
    color: $primary-bg-color;
    @media screen and (max-width: 1200px) {
        text-align: center;
    }
}