

.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    border-bottom: 1px solid $secondary-background-color;
    background-color: $primary-bg-color;
}

.page-header__nav {
    @extend %container;
    @media screen and (max-width:767px) {
        display: flex;
        align-items: center;
        height: 60px;
        }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 6em;
    }
    @media screen and (min-width: 1200px) {
        gap: 7em;
    }
    
}

.page-header__menu{
    @media screen and (max-width:767px) {
            display: none;
        }
    @media screen and (min-width: 768px ) {
        width: 100%;
        display: flex;
        align-items: center;
        
    }
}

.nav__list {
    @extend %list;
    @media screen and (min-width: 767px) {
        display: flex;
        margin-right: auto;
    }
 
   
}
.nav__item:not(:last-child) {
    @media screen and (min-width: 767px) {
            margin-right: 50px;
    }
}


.nav__link {
    @media screen and (min-width: 768px) {
        display: block;
        padding: 32px 0;
      
        text-decoration: none;   
        font-weight: 500;
            font-size: 14px;
            line-height: calc(16px /14px);
            letter-spacing: 0.02em;
            color: $main-text-color;
        &--current {
                position: relative;
                color: $accent-color;
                &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                
                        content: "";
                        display: inline-block;
                
                        width: 100%;
                        height: 4px;
                        border-radius: 2px;
                        transform: scale(1);
                        transform-origin: left;
                
                        background-color: $accent-color;
                    }
        }
    }
    &:hover,
    &:focus {
            color: $accent-color;
    }
    

    
}


.contact {
    display: flex;
    @media screen and (min-width: 768px) {
    margin-left: auto;
    flex-direction: column;
    margin-right: 0;
    }

    @media screen and (min-width: 1200px) {
    flex-direction: row;
  
    align-items: baseline;
    }
    
}

.contact__item {
    display: block;
    padding: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $descr-color;
    text-decoration: none;

    transition: color $time-delay $timing-function;
    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        &:first-child{
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width: 1200px) {
        padding: 25px 0;
        &:first-child {
                margin-right: 50px;
            }
    }
}

.contact__icon {
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: $descr-color;

    transition: fill $time-delay $timing-function;

    &--higher {
        width: 10px;
        height: 16px;
    }

    .contact__item:hover &,
    .contact__item:focus & {
        fill: $accent-color;
    }
}