
$accent-color: #2196f3;
$dark-background-color: #2f303a;
$descr-color: #757575;
$main-text-color: #212121;
$primary-bg-color: #fff;
$secondary-background-color: #f5f4fa;
$color-for-border: #ececec;
$color-not-active-media: #afb1b8;

$time-delay: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);